[Desktop Entry]
Name=cognidream - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=cognidream --open-url %U
Icon=cognidream
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/cognidream;
Keywords=cognidream;
